@using WebApplication_Shared_Services.Model;
@using Newtonsoft.Json;
@model Pager;
@{
    string resultPager = JsonConvert.SerializeObject(ViewBag.pager, Formatting.None);
};
<script>

    function pushPager(pagerObj) {
        pager = pagerObj;
    }

    function ViewEmp(ID, pager) {
        var vewEmpParamData = { id: ID, currentPager: pager }
        jQuery.post("../Employee/ViewEmployee", vewEmpParamData, function(resultData, status) {
            jQuery(".container.body-content").html(resultData);
            //jQuery(".container .body-content").html(resultData);
        });
    }
    
    function EditEmp(ID, pager) {
        var editEmpParamData = { id: ID, currentPager: pager }
        jQuery.post("../Employee/EditEmployee", editEmpParamData, function(resultData, status) {
            jQuery(".container.body-content").html(resultData);
            //jQuery(".container .body-content").html(resultData);
        });
    }
</script>
<div style="width:100%; height:380px; overflow-y: auto;">
    <table id="tableData" cellspacing="0" cellpadding="1" border="1" width="800">
        @foreach (Employee emp in (List<Employee>)ViewBag.employeeList)
        {
            <tr class="tdtextalignGrid">
                <td width="100">@emp.ID</td>
                <td width="100">@emp.Name</td>
                <td width="100">@emp.Address</td>
                <td width="100">@emp.Role</td>
                <td width="100">@emp.Department</td>
                <td width="100">@emp.Email</td>
                <td width="100">@emp.DOB</td>
                <td width="100">@emp.DOJ</td>
                <td width="100">
                    @if (emp.SkillSets != null)
                    {
                        @string.Join(", ", emp.SkillSets)
                        ;
                    }
                </td>
                <td width="100">
                    @if (emp.IsFileContainerExist)
                    {
                        <button id="myBtn_@emp.ID" class="popup">File exists</button>
                    }
                </td>

                <td width="150">
                    <button type="button" id="ViewEmp" value="View" class="buttontblview" onclick="ViewEmp(@emp.ID,@resultPager)">
                        View

                        <img class="buttontblViewimage" src="~/images/ViewProfile.png" />
                    </button>
                </td>
                <td width="150">
                    <button type="submit" id="Edit_@emp.ID" value="Edit" class="buttontbledit" onclick="EditEmp(@emp.ID,@resultPager)">
                        Edit

                        <img class="buttontbleditimage" src="~/images/Edit.png" />
                    </button>
                </td>
                @{
                    string delurl = "DelEmployee/" + @emp.ID;
                }
                <td width="150">
                    <button type="submit" id="Delete_@emp.ID" value="Delete" class="buttontbldelete" onclick="location.href='@Url.Action(@delurl, "Employee")'">
                        Delete

                        <img class="buttontbldeleteimage" src="~/images/delete.png" />
                    </button>
                </td>

            </tr>
        }

    </table>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="Divfileset">
            </div>
        </div>

    </div>
</div>
