@using WebApplication_Shared_Services.Model;
@{
    ViewData["Title"] = "Home Page";
}

@Html.Hidden("SessionSet", (string)ViewBag.NotValidUser)
<a asp-area="" asp-controller="Home" asp-action="Logout" class="lgout">Logout</a>
<div class="EmpContainer">

    <div id="div">

        <button type="submit" value="Add Employee" class="buttontblAdd" onclick="location.href='@Url.Action("AddEmployee", "Employee")'">
            Add Employee
            <img class="buttontbladdimage" src="~/images/emp add.png" />
        </button>
        <span class="msgInner">@ViewBag.msg</span><br />
        <table id="table" cellspacing="0" cellpadding="0" border="0" width="820" class="myFont filldata">
            <tr>
                <td>
                    <div id="EmpHeaderContainer">
                        @Html.Partial("_EmpHeader");
                    </div>
                </td>
            </tr>
            <tr>
                <td>

                    <div id="EmpListContainer">
                        @Html.Partial("_EmpList");
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    <div id="PaginationContainer">
                        @Html.Partial("_Pager",(Pager)ViewBag.pager);
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>

    </div>
</div>
