@using Newtonsoft.Json;
@model EmployeeViewModel;
@{

    ViewData["Title"] = "Home Page";
}
@{
    string resultPager = JsonConvert.SerializeObject(ViewBag.pager, Formatting.None);

};
<script>

    function pushPager(pagerObj) {
        pager = pagerObj;
    }

    function EmpListView(pager) {

        var vewEmpParamData = { pager: pager }

        jQuery.post("../Employee/GetDashboard", vewEmpParamData, function(resultData, status) {
            jQuery(".container.body-content").html(resultData);
        });


    }
</script>
<div class="AppName">
    Employee Management System (EMS)
</div>
@Html.Hidden("SessionSet", (string)ViewBag.NotValidUser)
<button type="submit" id="Logout" value="Logout" class="lgout" onclick="location.href='@Url.Action("Logout", "Home")'">
    Logout
    <img class="buttontbllogoutimage" src="~/images/logout.png" />
</button>
<div class="EmpContainer">

    Add Employee
    <button type="submit" value="Employee List" class="buttontblEmpList" onclick="EmpListView(@resultPager)">
        Go Back to List View
        <img class="buttontblEmpListImg" src="~/images/emp list.png" />
    </button>
    <h2>Employee Details</h2>
    <div> <span class="msgInner">@ViewBag.msg</span></div>
    <form method="post" id="frmAddEmp">
        <div class="rowform odd">
            <div class="columnform">

                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @id="txtName" , @class = "form-control", @readonly="readonly" })

                </div>

            </div>
            <div class="columnform">

                <div class="form-group">
                    @Html.LabelFor(m => m.Address)
                    @Html.TextBoxFor(m => m.Address, new { @id="txtAdrs" ,  @class = "form-control", @readonly="readonly" })

                </div>
            </div>
        </div> <div class="rowform">
            <div class="columnform">

                <div class="form-group">
                    @Html.LabelFor(m => m.Role)
                    @Html.TextBoxFor(m => m.Role, new { @id="txtrole" ,@class = "form-control", @readonly="readonly" })

                </div>

            </div>
            <div class="columnform">

                <div class="form-group">
                    @Html.LabelFor(m => m.Department)
                    @Html.TextBoxFor(m => m.Department, new { @id="txtdpt" , @class = "form-control", @readonly="readonly" })
                </div>
            </div>
        </div>
        <div class="rowform odd">
            <div class="columnform">

                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @id="txtEmail", @class = "form-control", @readonly="readonly" })

                </div>

            </div>
            <div class="columnform">

                <div class="form-group">
                    @Html.LabelFor(m => m.DOB)
                    @Html.TextBoxFor(m => m.DOB, new { Name = "txtDOB", id = "txtDOB", @class = "form-control", @readonly="readonly" })

                </div>
            </div>
        </div>
        <div class="rowform">
            <div class="columnform">
                <div class="form-group">
                    @Html.LabelFor(m => m.DOJ)
                    @Html.TextBoxFor(m => m.DOJ, new { Name = "txtDOJ", id = "txtDOJ", @class = "form-control", @readonly="readonly" })
                </div>
            </div>
            <div class="columnform">
                <div class="form-group">
                    @Html.LabelFor(m => m.SkillSets)
                    <div id="DivSkillset">
                        @if (Model.SkillSets != null)
                        {
                            foreach (var skill in Model.SkillSets)
                            {
                                <span class="skilsetSpan">@skill</span>
                            }

                        }

                    </div>
                </div>
            </div>
        </div>

        <div class="rowform odd">
            <div class="columnform">
                @Html.HiddenFor(m => m.ID)
            </div>
            <div class="columnform">
                <button type="reset" class="btn btn-primary">Go Back to List View</button>
            </div>
        </div>
    </form>
</div>
