@model Login;
<div class="TabLoginDetail form">
    <form action="/Home/Login" method="post" class="login-form">
        <div class="form-group loginheader">
            <h1> Login Here  </h1>
        </div>
        <div class="form-group loginuser">

            <div class="rowform odd">
                <div class="columnform">
                    <label>User Name: </label>
                </div>
                <div class="columnform">
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "loginTextbox" } })*
                    @Html.ValidationMessageFor(model => model.username)
                </div>
            </div>
        </div>
        <div class="form-group loginpwd">

            <div class="rowform odd">
                <div class="columnform">
                    <label>Password:</label>
                </div>
                <div class="columnform">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "loginPwd" } }) *
                    @Html.ValidationMessageFor(model => model.password)
                </div>
            </div>
        </div>
        <div class="form-group error">
            @if (@ViewBag.Failedcount != null)
            {

                <label> Failed Attempt count is: @ViewBag.Failedcount</label>
            }

            @if (@ViewBag.NotValidUser != null)
            {

                <label> @ViewBag.NotValidUser</label>
            }
        </div>
        <div class="loginbtn">

            <input type="submit" value="Login" class="buttonlogin" />

        </div>
    </form>

</div>
